.barraSuperior{
	height: 200px;
	margin-top: 10px;
}

.senhaAtual{
	text-align: center;
	background-color: #003a5f;
	color: white;
	margin-top: 0px;
}

.senhaAtualTexto{
	font-size: 85pt;
    font-weight: 570;
}

#senhaAtualNumero{
	font-size: 100pt;
	font-weight: 800;
	color: limegreen;
}

.ultimaSenha{
	font-weight: 800;
	text-align: center;
	background-color: #ccc;
	height: 130px;
	margin-top: 20px;
	border: solid 2px;
}

.ultimaSenhaTitulo{
	font-size: 20px;
	color: rgb(82, 79, 79)
}

#ultimaSenhaNumero{
	font-size: 25px;
	color: black;
}
#ultimaSenhaTexto{
	font-size: 25px;
	color: black;
}
.ultimaSenhaTexto{
	font-size: 25px;
	color: black;
}

.uespiLogo{
	max-width: 250px;
}

.sisuLogo{
	max-width: 400px;
}

.uespiTexto{
	font-size: 27pt;
	font-weight: 800;
	color: #003a5f;
}

.subtitulo{
	font-size: 30px;
	font-weight: 400;
}

audio{
	display: none;
}